{% extends "base.html" %}
{% block content %}
  <h1>Hallinnoi kategorioita</h1>
<h3>Lisää uusi kategoria</h3>

  <form method="post" action="{{base_path}}/kategoria/lisaa/laheta">
 <div class="form-group">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

      <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control">{{attributes.description}}
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" name="submit" class="btn btn-primary">Lisää uusi kategoria</button>
    </div>
  </form>

{% endblock %}