{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Ostoskorin sisältö</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for product in products %}
      <tr>
        <td><b>{{product.name}}</b></td>
        <td>{{product.price}}</td>
        <th>{{forms.remove_from_cart_button("#{base_path}/tuote/#{product.id}/poistaOstoskorista")}}</th>
      </tr>
    {% endfor %}
      <tr>
        <td><b>KOKONAISHINTA</b></td>
        <td>{{totalPrice}}</td>
      <td></td>
      </tr>
    </tbody>

  </table>

      <p><a href="{{base_path}}/" class="btn btn-default">Tee lisää ostoksia</a> </p>
      <form method="post"><button type="submit" formaction="{{base_path}}/ostoskori/tyhjenna" class="btn btn-danger">Tyhjennä ostoskori</button></th></form>

 <form>
    <h2>Yhteystietosi</h2>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Puhelinnumero</label>
      <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Sähköpostiosoite</label>
       <input type="text" class="form-control" value="">
    </div>
        <div class="form-group">
      <label>Toimitusosoite</label>
       <input type="text" class="form-control" value="">
    </div>
        <div class="form-group">
      <label>Postinumero</label>
       <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Postitoimipaikka</label>
       <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tee tilaus</button>
    </div>
  </form>

{% endblock %}