{% extends "base.html" %}
{% block content %}
  <h1>Tilaus</h1>

  <ul>
    <li><strong>Status:</strong> <label class="label label-danger">odottaa käsittelyä</label></li>
  </ul>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Hinta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td><b>Polkupyörä</b></td>
        <td>9,00€</td>
        <th><a class="btn btn-danger btn-sm" href="#">Poista tuote</a></th>
      </tr>
        <td><b>KOKONAISHINTA</b></td>
        <td>9,00€</td>
        <td></td>
    </tbody>
  </table>
    <p><a href="#" class="btn btn-default">Lisää tilaukseen tuote</a> </p>

      <form>
    <div class="form-group">
      <label>Etunimi</label>
      <input type="text" class="form-control" value="Jaska">
    </div>
    <div class="form-group">
      <label>Sukunimi</label>
      <input type="text" class="form-control" value="Jokunen">
    </div>
    <div class="form-group">
      <label>Puhelinnumero</label>
      <input type="text" class="form-control" value="0503425642">
    </div>
        <div class="form-group">
      <label>Sähköpostiosoite</label>
      <input type="text" class="form-control" value="jaska.jokunen@jotain.com">
    </div>
        <div class="form-group">
      <label>Toimitusosoite</label>
      <input type="text" class="form-control" value="Kaislatie 1 A 3">
    </div>
        <div class="form-group">
      <label>Postinumero</label>
      <input type="text" class="form-control" value="00100">
    </div>
       <div class="form-group">
      <label>Postitoimipaikka</label>
      <input type="text" class="form-control" value="Helsinki">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button> 
    </div>
  </form>

{% endblock %}