{% extends "base.html" %}
{% block content %}

  <h1>Omat tilaukseni</h1>

    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tilausnumero</th>
        <th>Toimitusosoite</th>
        <th>Hinta</th>
        <th>Status</th>
      </tr>
    </thead>


      <tbody>

      {% for order in orders %}
      <tr>
        <td>
        <b><a href="{{base_path}}/tilaus/{{order.id}}">{{order.id}}</a></b>
        </td>
        <td>{{order.delivery_address}}</td>
        <td>{{order.totalprice}}</td>
        <td>
        {% if order.status.id == 1 %}
        <span class="label label-warning">
        {% elseif order.status.id == 3 %}
        <span class="label label-danger">
        {% elseif order.status.id == 2 %}
        <span class="label label-success">
        {% else %}
        <span class="label label-info">
        {% endif %}
        {{order.status.name}}</span></td>
        </tr>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}