{% extends "base.html" %}
{% block content %}
  <h1>Tilaus</h1>

  <ul>
    <li><strong>Asiakas:</strong> Ville Jokunen</li>
    <li><strong>Puhelinnumero:</strong> 0504234521</li>
    <li><strong>Toimitusosoite:</strong> Kaisakatu 1, 00100 Helsinki</li>
    <li><strong>Status:</strong> <label class="label label-danger">odottaa käsittelyä</label></li>
  </ul>

    <p><a href="#" class="btn btn-default">Hyväksy tilaus</a> 
    <a href="#" class="btn btn-default">Merkitse toimitetuksi</a> <button class="btn btn-danger">Hylkää tilaus</button>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Hinta</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td><b>Polkupyörä</b></td>
        <td>9,00€</td>
      </tr>
        <td><b>KOKONAISHINTA</b></td>
        <td>9,00€</td>
    </tbody>
  </table>
    <p><a href="#" class="btn btn-primary">Muokkaa tilausta</a> </p>

{% endblock %}