{% extends "base.html" %}
{% block content %}
   <p>Tervetuloa verkkokauppaan</p>

  <h1>Saatavilla olevat tuotteet</h1>

   <div class="form-group">
      <label>Kategoria</label>
      <select>
    <option value=""></option>
   <optgroup label="Vapaa-aika">
    <option value="polkupyörät">Polkupyörät</option>
    <option value="veneet">Veneet</option>
   </optgroup>
   <optgroup label="Tietotekniikka">
    <option value="kannettavat tietokoneeet">Kannettavat tietokoneet</option>
    <option value="tulostimet">Tulostimet</option>
   </optgroup>
   </select>
    </div>

  <div class="form-group">
      <label>Lajitteluperuste</label>
      <select>
    <option value="polkupyörät">Halvin ensin</option>
    <option value="veneet">Kallein ensin</option>
   </select>
    </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Kuva</th>
        <th>Hinta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    
      {% for product in products %}
      <tr>
        <td>
        <table>
        <tr><b><a href="{{base_path}}/tuote/{{product.id}}">{{product.name}}</a></b></tr>
        <tr><p>{{product.description}}</p></tr>
        <tr>Kategoria: <i>Polkupöyrät</i></tr>
        </table>
        </td>
        <td><img src="https://cdn.pixabay.com/photo/2013/07/13/13/46/bicycle-161524_960_720.png" alt="" style="width:200px;height:150px;">
</td>
        <td>{{product.price}}</td>
        <th><a class="btn btn-default btn-sm" href="#">Lisää ostoskoriin</a></th>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}