{% extends "base.html" %}
{% block content %}
  {% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

  <h1>{{product.name}}</h1>

  <p>
    <form method="post" action="" style="display: inline-block;"> <button type="submit" class="btn btn-default">Lisää ostoskoriin</button>
    </form>
    {% if admin %}
    <form method="get" action="{{base_path}}/tuote/{{product.id}}/muokkaa" style="display: inline-block;"> <button type="submit" class="btn btn-default">Muokkaa tuotetta</button>
    </form> 
    {% endif %}
    <button class="btn btn-danger">Poista ostoskorista</button>
  </p>

    {% if product.available %}
    <span class="label label-success">Myynnissä</span>
    {% else %}
    <span class="label label-danger">Ei myynnissä</span>
    {% endif %}

  <ul>
    <li><strong>Hinta:</strong> {{product.price}}</li>
    <li><strong>Varastossa:</strong> {{product.count}}</li>
    <li><strong>Kategoria:</strong> {{product.category.name}}</li>
  </ul>

  <p>
  {{product.description}}
  </p>
{% endblock %}